<section id="one" class="tiles">
	{% for appPage in site.appPages limit:site.tiles-count %}
        <article>
                <span class="image">
                        <img src="{{ appPage.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ appPage.url | absolute_url }}" class="link">{{ appPage.title }}</a></h3>
                        <p>{{ appPage.description }}</p>
                </header>
        </article>
	{% endfor %}
</section>
